.app {
  background: $red;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: calc(100vw - 35rem - #{$gap}) 35rem;
  grid-template-rows: 0.1fr 1fr;
  column-gap: $gap;
  row-gap: $gap;
  font-family: sans-serif;
}

[class*="app-section"] {
  background: white;
  box-shadow: -5px -3px 10px $shadow;
  border: 1px solid rgba(black, 0.8);
  &[class*="header"] {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 0 0 $br;
  }
  &[class*="reading"] {
    border-radius: $br 0 0 0;
    background: $pink;
    box-shadow: -5px -3px 10px $shadow, 5px 3px 10px rgba(black, 0.3) inset;
  }
  &[class*="ticker"] {
    background: $purple;
    color: white;
    border-radius: 0 0 $br 0;
    box-shadow: 5px 3px 10px $highlight;
  }
  &[class*="stream"] {
    border-radius: 0 $br 0 0;
    background: rgb(2, 1, 1);
    box-shadow: -5px -3px 10px $shadow, 5px -2px 10px $highlight;
    color: white;
    display: flex;
    flex-flow: column;
  }
}

.calendarLink {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 25%;
  transform: translateX(-50%) translateY(-50%);
  @extend .btn;
  .button--text {
    display: block;
    transform: translateY(.1em);
  }
  font-size: 1.5rem !important;
}

.app-logo {
  font-size: var(--ms-2);
  word-spacing: 0.01em;
  transform: scaleX(0.8);
  em {
    color: $red;
    display: inline-block;
    transform: scaleX(1.2);
    font-weight: 900;
    font-style: normal;
  }
}
