$br: 5px;
$spread: 5px;
$gap: 50px;

$purple:#7c00ff;
$pink:#ff0072;
$red: #ff0000;
$green:#6bff98;
$orange: #ff9600;
$blue: #60cafe;
$gray: #cccbcb;

$highlight: rgba(white, .6);
$shadow: rgba(rgb(20, 18, 20), .6);

@font-face {
  font-family: "arial-transformed";
  src:url(/assets/arial_transformed.ttf)
}

$sans: Helvetica, Arial, sans-serif;
$condensed: "arial-transformed", sans-serif;

:root {
  --ratio: 1.25;
  --ms-0: clamp(1rem, 3vw, 2.4rem);
  --ms--2: calc(var(--ms--1) / var(--ratio));
  --ms--1: calc(var(--ms-0) / var(--ratio));
  --ms-1: calc(var(--ms-0) * var(--ratio));
  --ms-2: calc(var(--ms-1) * var(--ratio));
  --ms-3: calc(var(--ms-2) * var(--ratio));
  --ms-4: calc(var(--ms-3) * var(--ratio));
  --ms-5: calc(var(--ms-4) * var(--ratio));
}
